.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #931639;    /* color of the scroll thumb */
  border-radius: 20px;
  border: 3px solid white;
}

body {
  scrollbar-width: thin;
  scrollbar-color: white #931639;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 30%;
  border-radius: 20px;
  background: #ffffff;
  position: relative;
  padding: 1.2rem;
  border: 2px solid #c3c6cea4;
  transition: 0.5s ease-out;
  overflow: visible;
  display: flex;
  justify-content: center;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-details {
  color: black;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #931639;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
}

p {
  width: auto;
  height: auto;
}

.text-body {
  color: rgb(107, 106, 106);
  margin: 8px;
}

/*Text*/
.text-title {
  /* font-size: 1.5em; */
  font-weight: bold;
  margin: 20px;
  color: #931639;
}

/*Hover*/
.card:hover {
  border-color: #931639;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.main-container {
  margin: 20px;
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: visibility 0s, opacity 1s ease-in;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-info {
  display: flex;
  justify-content: center;
}

.email-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-info {
  display: flex;
  justify-content: center;
}

.phone-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-info {
  display: flex;
  justify-content: center;
}

.web-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}