.app-bar {
    padding: 12px;
    background-color: white;
}
    
/*
background-color: #27282D;
*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-contains {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    column-gap: 20px;
    font-family: 'Gloock', serif;
    font-size: 33px;
    font-weight: bold;
    color: #931639;
    cursor: pointer;

}
/*#f79d5c*/

.header-contains-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    column-gap: 20px;
    color: #931639;
}